@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css"; 

.dialog {
  display: grid;
}

.dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}